<% content_for :title, "Bridge Components" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Bridge Components</h1>
  <p>This Rails app serves as a demo for the components and examples for how to use them.</p>
</div>

<div class="list-group list-group-flush container-sm px-0">
  <%= render "shared/item",
    path: components_alert_path,
    icon: "bi-exclamation-triangle",
    name: "Alert component",
    description: "Render a native, customizable dialog." %>

  <%= render "shared/item",
    path: components_button_path,
    icon: "bi-app",
    name: "Button component",
    description: "Render a native button in the nav bar." %>

  <%= render "shared/item",
    path: new_components_form_path,
    icon: "bi-input-cursor",
    name: "Form component",
    description: "Render a native form submit button." %>

  <%= render "shared/item",
    path: components_haptic_path,
    icon: "bi-phone-vibrate",
    name: "Haptic component",
    description: "Vibrate the device." %>

  <%= render "shared/item",
    path: components_menu_path,
    icon: "bi-list",
    name: "Menu component",
    description: "Render a native hamburger menu." %>

  <%= render "shared/item",
    path: components_review_prompt_path,
    icon: "bi-star-half",
    name: "Review prompt component",
    description: "Request a rating in the app store." %>

  <%= render "shared/item",
    path: components_share_path,
    icon: "bi-box-arrow-up",
    name: "Share component",
    description: "Present a native share sheet." %>

  <%= render "shared/item",
    path: components_theme_path,
    icon: "bi-palette",
    name: "Theme component",
    description: "Toggle native dark/light mode." %>

  <%= render "shared/item",
    path: components_toast_path,
    icon: "bi-megaphone",
    name: "Toast component",
    description: "Render a native, floating message." %>
</div>
