<% content_for :title, "Menu Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Menu Component</h1>
  <p>Adds a native button that opens a native menu, each item rendering a title and an optional image.</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/menu", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div data-controller="bridge--menu" class="list-group list-group-flush container-sm px-0">
  <%= link_to "One", result_components_menu_path(item: "One"), class: "list-group-item list-group-item-action", data: {
    bridge__menu_target: "item",
    bridge_title: "One",
    bridge_ios_image: "1.circle",
    bridge_android_image: "counter_1"
  } %>
  <%= link_to "Two", result_components_menu_path(item: "Two"), class: "list-group-item list-group-item-action", data: {
    bridge__menu_target: "item",
    bridge_title: "Two",
    bridge_ios_image: "2.circle",
    bridge_android_image: "counter_2"
  } %>
  <%= link_to "Three", result_components_menu_path(item: "Three"), class: "list-group-item list-group-item-action", data: {
    bridge__menu_target: "item",
    bridge_title: "Three",
    bridge_ios_image: "3.circle",
    bridge_android_image: "counter_3"
  } %>
  <%= link_to "Destructive", result_components_menu_path(item: "Destructive"), class: "list-group-item list-group-item-action", data: {
    bridge__menu_target: "item",
    bridge_title: "Destructive",
    bridge_ios_image: "trash",
    bridge_android_image: "delete",
    bridge_destructive: true
  } %>
</ul>
